.item {
    text-align: center;
    padding: 8px 64px;
    border: 1px solid #D0D0D8;
    margin: 8px 0 0;
    position: relative;
    border-radius: 4px;
    border-left: none;
    border-right: none;
    font-size: 20px;
}

.item:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: -19px;
    border: 1px solid #D0D0D8;
    border-top: none;
    border-left: none;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: rotate(135deg);

    margin-left: 5px;
}

.item:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: -19px;
    border: 1px solid #D0D0D8;
    border-bottom: none;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: rotate(135deg);

    margin-right: 5px;
}

.selectedItem {
    color: #E87928;
    border-color: #E87928;
}

.selectedItem:after,
.selectedItem:before{
    border-color: #E87928;
}

.disabledItem {
    color: lightgray;
}

.line:before {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    background:  #D0D0D8;
    top: 49%;
    left: -68px;
}

.line:after {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    background:  #D0D0D8;
    top: 49%;
    right: -68px;
}

.selectedItem .line:before,
.selectedItem .line:after{
    background: #E87928;
}


@media (max-width: 767px) {
    .item {
        font-size: 14px;
    }


    .item:after,
    .item:before{
        width: 25px;
        height: 25px;
        top: 3px;
    }

    .item:after {
        right: -17px;
    }

    .item:before{
        left: -17px;
    }

    .line:after {
        right: -66px;
        top: 45%;
    }

    .line:before{
        left: -66px;
        top: 45%;
    }
}


